/* CSS lengkap untuk menghapus tanda panah di input number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    gap: 15px;
}

input[type="text"], [type="number"] {
    border: 1px solid black;
    outline: none;
    padding: 5px;
    width: 300px;
}